<a href="https://colab.research.google.com/github/Kiran45181/Pyspark/blob/main/Format_converstions_in_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##FORMAT CONVERTION

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DataFrameExample").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

##json Format Converstion

In [4]:
df.write.mode("overwrite").json("./content/json_data")

In [5]:
!ls ./content/json_data

part-00000-e1cc289b-29dd-497f-9c0d-40649ff27a00-c000.json  _SUCCESS
part-00001-e1cc289b-29dd-497f-9c0d-40649ff27a00-c000.json

In [6]:
!cat ./content/json_data/part-00000-e1cc289b-29dd-497f-9c0d-40649ff27a00-c000.json

{"EmpID":1,"Name":"Alice","Department":"Sales","Salary":3000}

In [7]:
json_df = spark.read.json("./content/json_data")
json_df.show()

+----------+-----+-----+------+
|Department|EmpID| Name|Salary|
+----------+-----+-----+------+
|        IT|    2|  Bob|  4000|
|        HR|    3|Cathy|  3500|
|     Sales|    1|Alice|  3000|
+----------+-----+-----+------+

## CSV Converstion

In [8]:
strPath = "/content/csv_data"
df.write.mode("overwrite").option("header","true").csv(strPath)

In [10]:
csv_df = spark.read.option("header","true").csv(strPath)
csv_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    1|Alice|     Sales|  3000|
+-----+-----+----------+------+